
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Monitor de clima</title>
                <link rel="icon" href="../static/imgs/favicon.ico">
                <link rel="stylesheet" href="../static/css/style.css">
            </head>
            <body>
                <div class="container">
                    <p class="location"><img width="20" src="../static/imgs/location.png"> São João da Boa Vista</p>
                    <p class="-gray -line-height-24 _center">
<span class="-bold">Hoje
será</span>
<span class="-bold">parecido com ontem</span>
<span class="tooltip actTriggerGA" data-action="Clique_no_tooltip_descricao_da_previsao" data-category="Descricao_da_previsao" data-label="Descricao_da_previsao" data-text="Considerando a temperatura máxima do dia, a diferença é de +1º" id="Tooltip_descricao_previsao">
<span class="common-sprite sprite-infos _inline-block"></span>
</span>
<br/>
Sol e aumento de nuvens de manhã. Pancadas de chuva à tarde. À noite o tempo fica aberto.
</p><div class="col-md-6 col-sm-12 _flex _space-between _margin-t-sm-20">
<div class="_center">
<img alt="Noite com algumas nuvens" class="lazyload" data-icon="2n" data-icon-id="1" src="https://climatempo.com.br/dist/images/v2/svg/2n.svg" height="40" title="Noite com algumas nuvens" width="40"/>
<p class="-gray _margin-t-10">Madrugada</p>
</div>
<div class="_center">
<img alt="Sol com algumas nuvens" class="lazyload" data-icon="2" data-icon-id="1" src="https://climatempo.com.br/dist/images/v2/svg/2.svg" height="40" title="Sol com algumas nuvens" width="40"/>
<p class="-gray _margin-t-10">Manhã</p>
</div>
<div class="_center">
<img alt="Sol, pancadas de chuva e trovoadas" class="lazyload" data-icon="4t" data-icon-id="1" src="https://climatempo.com.br/dist/images/v2/svg/4t.svg" height="40" title="Sol, pancadas de chuva e trovoadas" width="40"/>
<p class="-gray _margin-t-10">Tarde</p>
</div>
<div class="_center">
<img alt="Noite com algumas nuvens" class="lazyload" data-icon="2n" data-icon-id="1" src="https://climatempo.com.br/dist/images/v2/svg/2n.svg" height="40" title="Noite com algumas nuvens" width="40"/>
<p class="-gray _margin-t-10">Noite</p>
</div>
</div><ul class="variables-list" data-end-sticky-banner-mobile="">
<li class="item">
<span class="variable -bold -gray">Temperatura</span>
<div class="_flex">
<p class="-gray _flex _align-center">
<img alt="Temperatura mínima" class="_margin-r-5 _margin-b-3" src="https://climatempo.com.br/dist/images/v2/svg/ic-arrow-min.svg"/>
<span class="-gray-light" id="min-temp-1">19°</span>
<img alt="Temperatura máxima" class="_margin-l-10 _margin-r-5 _margin-b-3" src="https://climatempo.com.br/dist/images/v2/svg/ic-arrow-max.svg"/>
<span class="-gray-light" id="max-temp-1">28°</span>
</p>
</div>
</li>
<li class="item">
<span class="variable -bold -gray">Chuva</span>
<div class="_flex _align-center">
<img alt="" class="lazyload _flex _width-auto" src="https://climatempo.com.br/dist/images/gota-azul.png" height="10" width="10"/>
<img alt="" class="lazyload _flex _width-auto" src="https://climatempo.com.br/dist/images/gota-cinza.png" height="10" width="10"/>
<img alt="" class="lazyload _flex _width-auto" src="https://climatempo.com.br/dist/images/gota-cinza.png" height="10" width="10"/>
<span class="_margin-l-5">5mm -
90%</span>
</div>
</li>
<li class="item">
<span class="variable -bold -gray">Vento</span>
<div class="_flex">
<span class="arrow _margin-r-10" style="transform: rotate(247.5deg);"></span>
ENE
-
16km/h
</div>
</li>
<li class="item">
<span class="variable -bold -gray">Umidade</span>
<div class="_flex">
<p class="-gray _flex _align-center">
<img alt="Úmidade mínima" class="_margin-r-5 _margin-b-3" src="https://climatempo.com.br/dist/images/v2/svg/ic-arrow-min.svg"/>
<span class="-gray-light">65%</span>
<img alt="Úmidade máxima" class="_margin-l-10 _margin-r-5 _margin-b-3" src="https://climatempo.com.br/dist/images/v2/svg/ic-arrow-max.svg"/>
<span class="-gray-light">90%</span>
</p>
</div>
</li>
<li class="item">
<span class="variable -bold -gray">Sol</span>
<span>
06:15h
<span class="_margin-l-5 _margin-r-5 _inline-block common-sprite sprite-sunshine-sunrise"></span>
18:05h
</span>
</li>
</ul>
                    <p class="credits"> Dev by João Victor Cordeiro </p>
                </div>
            </body>
        </html>
    